@import '../../shared/styles/color.css';
@import '../../shared/styles/border.css';
@import '../../shared/styles/z-index.css';

:root {
  --pathwayHeight: 5px;
  --pathwayMargin: 20px;
  --draggerSize: 12px;
  --draggerBorder: 4px;
}

.container {
  flex: 1;
  min-width: 200px;
}

.pathway {
  width: 100%;
  height: var(--pathwayHeight);
  margin: var(--pathwayMargin) 0;
  position: relative;
  border-radius: var(--radius-small);
  background-color: var(--gray-light);
}

.progressBar {
  z-index: var(--zIndex1);
  height: 100%;
  position: absolute;
  border-radius: var(--radius-small);

  &.bar-green {
    background-color: var(--green);
  }

  &.bar-red {
    background-color: var(--red);
  }

  &.bar-dark {
    background-color: var(--gray-dark);
  }

  &.bar-gray {
    background-color: var(--gray);
  }

  &.bar-blue {
    background-color: var(--blue);
  }
}

.draggerContainer {
  left: 0;
  cursor: pointer;
  z-index: var(--zIndex9);
  position: absolute;
  transform: translateX(-50%);
  top: calc((var(--pathwayHeight) - var(--draggerSize) - 2 * var(--draggerBorder)) / 2);
}

.tipso {
  min-width: inherit;
}

.dragger {
  width: var(--draggerSize);
  height: var(--draggerSize);
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white);

  &.green {
    border: var(--draggerBorder) solid var(--green);
  }

  &.red {
    border: var(--draggerBorder) solid var(--red);
  }

  &.dark {
    border: var(--draggerBorder) solid var(--gray-dark);
  }

  &.gray {
    border: var(--draggerBorder) solid var(--gray);
  }

  &.blue {
    border: var(--draggerBorder) solid var(--blue);
  }
}

.dragSection {
  height: var(--pathwayHeight);
  width: var(--pathwayHeight);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;

  &.light {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
