@import '../../../shared/styles/font.css';
@import "../../../shared/styles/shadow.css";
@import "../../../shared/styles/z-index.css";
@import "../../../shared/styles/color.css";
@import "../../../shared/styles/border.css";

.selector-container {
  background-color: var(--white);
  margin: 10px 5px;
  min-width: 4em;
  text-align: center;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: var(--radius-small);
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  composes: baseText;

  color: var(--gray-dark);
  fill: var(--gray-dark);

  & polygon {
    fill: var(--gray-dark);
  }

  & svg {
    /*transform: rotate(-90deg);*/
    transition: transform 0.2s, background-color 0.2s;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--radius-small);
    background-color: transparent;
    transition: background-color 0.2s;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  transform: translateY(0);
  justify-content: center;
  align-items: center;
  text-align: left;
}

.value-wrapper {
  flex: 1;
  position: relative;
}

.value-hidden {
  opacity: 0;
}

.value {
  position: absolute;
}

.material {
  border: none;
  transition: box-shadow 0.1s;
  box-shadow: var(--shadowInput);

  &:not(.selector-disabled) {
    &:hover {
      box-shadow: var(--shadowInputHover);
    }
  }
}

.flat {
  color: var(--gray-dark);
  fill: var(--gray-dark);
  background-color: var(--white);
  transition: border 0.1s;
  border: 1px solid var(--gray);

  & polygon {
    fill: var(--gray-dark);
  }

  & .options-wrapper {
    border: 1px solid var(--gray);
  }
}

.selector-white {
  &.material {
    background-color: var(--gray-dark);
    color: var(--white);
    fill: var(--white);

    & polygon {
      fill: var(--white);
    }
  }

  &.flat:not(.selector-disabled) {
    &:hover {
      border: 1px solid var(--gray);
    }
  }
}

.selector-green {
  &.material {
    fill: var(--white);
    color: var(--white);
    background-color: var(--green);

    & polygon {
      fill: var(--white);
    }
  }

  &.flat:not(.selector-disabled) {
    &:hover {
      border: 1px solid var(--green);
    }
  }
}

.selector-blue {
  &.material {
    fill: var(--white);
    color: var(--white);
    background-color: var(--blue);

    & polygon {
      fill: var(--white);
    }
  }

  &.flat:not(.selector-disabled) {
    &:hover {
      border: 1px solid var(--blue);
    }
  }
}

.selector-disabled {
  cursor: not-allowed;

  & .selector {
    cursor: not-allowed;
  }

  &::before {
    z-index: var(--zIndex1);
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.selector-container-active {
  & .options-wrapper {
    z-index: 1;
    visibility: visible;
  }

  & svg {
    transform: rotate(180deg);
  }
}

/* options */
.options-wrapper {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  max-height: 400px;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: var(--shadowInput);
  transform: translateY(-2px);
  justify-content: center;
  align-items: flex-start;
  z-index: -1;
  visibility: hidden;
  overflow-y: auto;
  border-radius: 0 0 var(--radius-small) var(--radius-small);
}


.option {
  height: 30px;
  width: 100%;
  text-align: left;
  line-height: 30px;
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f2f2f2;
  }

  &:last-child {
    border-radius: 0 0 var(--radius-small) var(--radius-small);
  }
}

.option-active {
  cursor: default;
  background-color: #f2f2f2;
}

.option-wrapper {
  margin: 0 20px;
  color: var(--gray-dark);
}
