@import "../../shared/styles/shadow.css";
@import "../../shared/styles/z-index.css";
@import "../../shared/styles/color.css";
@import "../../shared/styles/border.css";

:root {
  /* version 1 */
  --v1-switcher-width: 52px;
  --v1-switcher-width-small: 42px;
  --v1-switcher-width-mini: 35px;

  --v1-switcher: 32px;
  --v1-switcher-small: 26px;
  --v1-switcher-mini: 22px;

  --v1-switcher-item: 32px;
  --v1-switcher-item-small: 26px;
  --v1-switcher-item-mini: 22px;

  /* version 2 */
  --v2-switcher-width: 50px;
  --v2-switcher-width-small: 40px;
  --v2-switcher-width-mini: 40px;

  --v2-switcher: 25px;
  --v2-switcher-small: 22px;
  --v2-switcher-mini: 22px;

  --v2-switcher-item: 17px;
  --v2-switcher-item-small: 15px;
  --v2-switcher-item-mini: 15px;

  /* version 3 */
  --v3-switcher-width: 35px;
  --v3-switcher-width-small: 30px;
  --v3-switcher-width-mini: 30px;

  --v3-switcher: 4px;
  --v3-switcher-small: 3px;
  --v3-switcher-mini: 3px;

  --v3-switcher-item: 25px;
  --v3-switcher-item-small: 20px;
  --v3-switcher-item-mini: 20px;
}

.switcherContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--gray);
  transition: background-color 0.2s;
  background-color: var(--white);
  margin: 15px 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.containerChecked {
  border: 1px solid transparent;

  &.green {
    background-color: var(--green-dark);
  }

  &.blue {
    background-color: var(--blue-dark);
  }

  &.gray {
    background-color: var(--gray-dark);
  }
}

.containerDisabled {
  cursor: not-allowed !important;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--radius-small);
    z-index: var(--zIndex1);
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.switcherItem {
  background-color: var(--white);
  box-shadow: var(--shadow2);
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  position: absolute;
  transition: right 0.2s;
}

/* switcher v1 */
.switcher-v1 {
  &.containerChecked {
    & .switcherItem {
      right: 0 !important;
    }
  }

  &.switcherContainer {
    width: var(--v1-switcher-width);
    height: var(--v1-switcher);
    border-radius: var(--v1-switcher);
  }

  &.container-small {
    width: var(--v1-switcher-width-small);
    height: var(--v1-switcher-small);
    border-radius: var(--v1-switcher-small);

    & .switcherItem {
      width: var(--v1-switcher-item-small);
      height: var(--v1-switcher-item-small);
      right: calc(100% - var(--v1-switcher-item-small));
    }
  }

  &.container-mini {
    width: var(--v1-switcher-width-mini);
    height: var(--v1-switcher-mini);
    border-radius: var(--v1-switcher-mini);

    & .switcherItem {
      width: var(--v1-switcher-item-mini);
      height: var(--v1-switcher-item-mini);
      right: calc(100% - var(--v1-switcher-item-mini));
    }
  }

  & .switcherItem {
    top: 0;
    width: var(--v1-switcher-item);
    height: var(--v1-switcher-item);
    border-radius: var(--v1-switcher-item);
    right: calc(100% - var(--v1-switcher-item));
  }
}

.switcher-v2 {
  &.switcherContainer {
    width: var(--v2-switcher-width);
    height: var(--v2-switcher);
    border-radius: var(--v2-switcher);

    &.containerChecked {
      & .switcherItem {
        right: calc((var(--v2-switcher) - var(--v2-switcher-item)) / 2) !important;
      }
    }
  }

  &.container-small {
    width: var(--v2-switcher-width-small);
    height: var(--v2-switcher-small);
    border-radius: var(--v2-switcher-small);

    &.containerChecked {
      & .switcherItem {
        right: calc((var(--v2-switcher-small) - var(--v2-switcher-item-small)) / 2) !important;
      }
    }

    & .switcherItem {
      width: var(--v2-switcher-item-small);
      height: var(--v2-switcher-item-small);
      top: calc((var(--v2-switcher-small) - var(--v2-switcher-item-small)) / 2);
      right: calc(100% - var(--v2-switcher-item-small) - (var(--v2-switcher-small) - var(--v2-switcher-item-small)) / 2);
    }
  }

  &.container-mini {
    width: var(--v2-switcher-width-mini);
    height: var(--v2-switcher-mini);
    border-radius: var(--v2-switcher-mini);

    &.containerChecked {
      & .switcherItem {
        right: calc((var(--v2-switcher-mini) - var(--v2-switcher-item-mini)) / 2) !important;
      }
    }

    & .switcherItem {
      width: var(--v2-switcher-item-mini);
      height: var(--v2-switcher-item-mini);
      top: calc((var(--v2-switcher-mini) - var(--v2-switcher-item-mini)) / 2);
      right: calc(100% - var(--v2-switcher-item-mini) - (var(--v2-switcher-mini) - var(--v2-switcher-item-mini)) / 2);
    }
  }

  & .switcherItem {
    width: var(--v2-switcher-item);
    height: var(--v2-switcher-item);
    border-radius: var(--v2-switcher-item);
    right: calc(100% - var(--v2-switcher-item) - (var(--v2-switcher) - var(--v2-switcher-item)) / 2);
    top: calc((var(--v2-switcher) - var(--v2-switcher-item)) / 2);
  }
}

.switcher-v3 {
  &.switcherContainer {
    width: var(--v3-switcher-width);
    height: var(--v3-switcher);
    border-radius: var(--v3-switcher);

    &:not(.containerChecked) {
      background-color: var(--gray);
    }

    &.containerChecked {
      & .switcherItem {
        right: calc((var(--v3-switcher) - var(--v3-switcher-item)) / 2) !important;
      }
    }
  }

  &.container-small {
    width: var(--v3-switcher-width-small);
    height: var(--v3-switcher-small);
    border-radius: var(--v3-switcher-small);

    &.containerChecked {
      & .switcherItem {
        right: calc((var(--v3-switcher-small) - var(--v3-switcher-item-small)) / 2) !important;
      }
    }

    & .switcherItem {
      width: var(--v3-switcher-item-small);
      height: var(--v3-switcher-item-small);
      top: calc((var(--v3-switcher-small) - var(--v3-switcher-item-small)) / 2);
      right: calc(100% - var(--v3-switcher-item-small) - (var(--v3-switcher-small) - var(--v3-switcher-item-small)) / 2);
    }
  }

  &.container-mini {
    width: var(--v3-switcher-width-mini);
    height: var(--v3-switcher-mini);
    border-radius: var(--v3-switcher-mini);

    &.containerChecked {
      & .switcherItem {
        right: calc((var(--v3-switcher-mini) - var(--v3-switcher-item-mini)) / 2) !important;
      }
    }

    & .switcherItem {
      width: var(--v3-switcher-item-mini);
      height: var(--v3-switcher-item-mini);
      top: calc((var(--v3-switcher-mini) - var(--v3-switcher-item-mini)) / 2);
      right: calc(100% - var(--v3-switcher-item-mini) - (var(--v3-switcher-mini) - var(--v3-switcher-item-mini)) / 2);
    }
  }

  & .switcherItem {
    width: var(--v3-switcher-item);
    height: var(--v3-switcher-item);
    border-radius: var(--v3-switcher-item);
    right: calc(100% - var(--v3-switcher-item) - (var(--v3-switcher) - var(--v3-switcher-item)) / 2);
    top: calc((var(--v3-switcher) - var(--v3-switcher-item)) / 2);
  }
}
