@import 'open-color/open-color.css';
@import "../../../shared/styles/base.css";

.textarea-wrapper {
  min-height: 100px;
  position: relative;
  outline: none;
  flex: 1;
  padding: 10px 0;
  border-radius: 2px;
  transition: border 0.2s;
  margin: 0 5px;
  background-color: var(--oc-white);
  composes: baseText;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.flat {
    border: 1px solid var(--oc-gray-5);
  }

  &.focus {
    border: 1px solid var(--oc-green-5);
  }

  &.error {
    border: 1px solid var(--oc-red-5);
  }
}

.textarea-tip {
  position: absolute;
  bottom: 6px;
  right: 6px;
  color: var(--oc-gray-4);
  font-size: 12px;
}

.textarea-hidden {
  width: 94%;
  margin-left: 3%;
  display: block;
  visibility: hidden;
  font-size: 14px;
  line-height: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0;
  overflow-x: auto;
  border: none;
  background-color: transparent;
}

.textarea {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 2%;
  width: 96%;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  outline: none !important;
  border: none;
  background-color: transparent;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0;
  }

  &:hover::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.disabled {
  cursor: not-allowed;

  & textarea {
    cursor: not-allowed;
  }
}
