@import "../../../shared/styles/font.css";
@import '../../../shared/styles/color.css';

.iconButton {
  width: 30px;
  height: 30px;
  padding: 0;
  transition: background-color 0.2s;
  composes: baseSubText;

  & i {
    color: var(--gray);
  }
}
