@import 'open-color/open-color.css';

.icon-button {
  width: 30px;
  height: 30px;
  padding: 0;
  transition: background-color 0.2s;
  composes: baseSubText from '../../../shared/styles/base.css';

  & i {
    color: var(--oc-gray-5);
  }
}
