@import '../../../shared/styles/font.css';
@import "../../../shared/styles/shadow.css";
@import '../../../shared/styles/color.css';
@import '../../../shared/styles/border.css';
@import "../../../shared/styles/z-index.css";

.infoCard {
  flex: 1;
  margin: 10px 5px;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
  position: relative;
  border-radius: var(--radius-small);
  min-width: 100px;
  text-align: center;
  cursor: default;
  composes: baseText;

  & i {
    margin-right: 10px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.clickable {
  cursor: pointer;
}

.bg {
  position: relative;
  padding: 15px 10px;
}

.withTipso {
  & .bg {
    padding: 15px 20px;
    padding-right: 30px;
  }
}

.material {
  &:hover {
    & .bg {
      box-shadow: var(--shadow4);
    }
  }

  & .bg {
    box-shadow: var(--shadow3);
    transition: box-shadow 0.3s;
    background-color: var(--white);
  }
}

.flat {
  &:hover {
    & .bg {
      background-color: var(--gray-light);
    }
  }

  & .bg {
    transition: background-color 0.3s;
    border: 1px solid var(--gray);
  }
}

.classic {
  & .bg {
    z-index: var(--zIndex1);
    background-color: var(--white);
    transition: transform 0.15s;
    transform: translate(-4px, -4px);
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: block;
    background-color: var(--gray);
    transform: translate(4px, 4px);
  }

  &:hover {
    & .bg {
      transform: translate(-2px, -2px);
    }
  }

  &:active {
    & .bg {
      transform: translate(0px, 0px);
    }

    &::after {
      transform: translate(2px, 2px);
    }
  }
}

.infoText {
}

.infoMainText {
  composes: infoText;
  font-size: 20px;
  color: var(--gray-dark);
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infoSubText {
  composes: infoText;
  font-size: 14px;
  color: var(--gray);
}

.infoTipsoWrapper {
  position: absolute;
  right: 10px;
  top: 5px;

  & i {
    font-size: 14px;
    margin-right: 0 !important;
  }
}

.infoTipso {
  min-width: 130px;
  font-size: 12px;
  line-height: 1.5em;
  bottom: 30px;
}

@media (max-width: 800px) {
  .chartInfo {
    padding: 0 10px;
  }

  .infoMainText {
    font-size: 1.6em;
  }

  .infoSubText {
    font-size: 12px;
  }
}
