@import '../../../shared/styles/font.css';
@import "../../../shared/styles/shadow.css";
@import '../../../shared/styles/color.css';
@import '../../../shared/styles/border.css';

.info-card {
  padding: 15px 10px;
  margin: 10px 5px;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  user-select: none;
  position: relative;
  border-radius: var(--radius-small);
  min-width: 100px;
  text-align: center;
  cursor: default;
  composes: baseText;

  & svg {
    width: 14px;
    height: 14px;

    & path {
      fill: var(--gray);
    }
  }

  & i {
    margin-right: 10px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.with-tipso {
  padding: 15px 20px;
  padding-right: 30px;
}

.material {
  background-color: var(--white);
  box-shadow: var(--shadow3);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: var(--shadow4);
  }
}

.flat {
  border: 1px solid var(--gray);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--gray-light);
  }
}

.info_text {
}

.info_main_text {
  composes: info_text;
  font-size: 20px;
  color: var(--gray-dark);
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info_sub_text {
  composes: info_text;
  font-size: 14px;
  color: var(--gray);
}

.info_tipso_wrapper {
  position: absolute;
  right: 10px;
  top: 5px;
  color: var(--gray);

  & i {
    font-size: 14px;
    /*cursor: pointer;*/
    margin-right: 0 !important;
  }
}

.info_tipso {
  min-width: 130px;
  font-size: 12px;
  line-height: 1.5em;
  bottom: 30px;
  color: var(--gray-dark);
}

@media (max-width: 800px) {
  .chart_info {
    /*padding: 0;*/
    padding: 0 10px;
  }

  .info_main_text {
    font-size: 1.6em;
  }

  .info_sub_text {
    font-size: 12px;
  }
}
