@import "../../../shared/styles/shadow.css";
@import "../../../shared/styles/z-index.css";
@import '../../../shared/styles/color.css';
@import '../../../shared/styles/border.css';
@import '../../../shared/styles/font.css';

:root {
  --background-transition : background-color 0.2s;
  --color-transition : color 0.2s;
}

.base_button {
  text-align: center;
  cursor: default;
  padding: 10px 20px;
  border-radius: var(--radius-small);
  margin: 15px 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  user-select: none;
  position: relative;
  composes: baseSubText;

  & .wrapper {
    transform: translateY(0);
  }

  &.clickable:not(.disabled) {
    &:hover {
      &::before {
        background-color: var(--black);
      }
    }
  }

  &.clickable {
    cursor: pointer;
  }

  & i:first-child {
    margin-right: 10px;
  }

  & i:last-child {
    margin-left: 10px;
  }

  &:first-child {
    &:not(.floating-action-button) {
      margin-left: 0;
    }
  }

  &:last-child {
    &:not(.floating-action-button) {
      margin-right: 0;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -1px;
    opacity: 0.3;
    border-radius: var(--radius-small);
    background-color: transparent;
    transition: var(--background-transition);
  }
}

.flat {
  transition: var(--background-transition), var(--color-transition);

  &.green {
    border: 1px solid var(--green-dark);
    color: var(--green-dark);

    & i {
      color: var(--green-dark);
    }

    &.clickable:not(.disabled) {
      &:hover {
        background-color: var(--green-dark);
        color: var(--white);

        & i {
          color: var(--white);
        }
      }
    }
  }

  &.red {
    border: 1px solid var(--red-dark);
    color: var(--red-dark);

    & i {
      color: var(--red-dark);
    }

    &.clickable:not(.disabled) {
      &:hover {
        background-color: var(--red-dark);
        color: var(--white);

        & i {
          color: var(--white);
        }
      }
    }
  }

  &.blue {
    border: 1px solid var(--blue-dark);
    color: var(--blue-dark);

    & i {
      color: var(--blue-dark);
    }

    &.clickable:not(.disabled) {
      &:hover {
        background-color: var(--blue-dark);
        color: var(--white);

        & i {
          color: var(--white);
        }
      }
    }
  }

  &.dark {
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);

    & i {
      color: var(--gray-dark);
    }

    &.clickable:not(.disabled) {
      &:hover {
        background-color: var(--gray-dark);
        color: var(--white);

        & i {
          color: var(--white);
        }
      }
    }
  }

  &.gray {
    border: 1px solid var(--gray);
    color: var(--gray);

    & i {
      color: var(--gray);
    }

    &.clickable:not(.disabled) {
      &:hover {
        background-color: var(--gray);
        color: var(--white);

        & i {
          color: var(--white);
        }
      }
    }
  }
}

.material {
  color: var(--white);
  border: 1px solid transparent;
  box-shadow: var(--shadow3);
  transition: box-shadow 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &.clickable:not(.disabled) {
    &:hover {
      box-shadow: var(--shadow5);
    }
  }

  &.green {
    background-color: var(--green-dark);
  }

  &.red {
    background-color: var(--red-dark);
  }

  &.dark {
    background-color: var(--gray-dark);
  }

  &.gray {
    background-color: var(--gray);
  }

  &.blue {
    background-color: var(--blue-dark);
  }
}

.floating-action-button {
  padding: 0;
  border-radius: var(--radius-half);
  color: var(--white);
  box-shadow: var(--shadow5);
  transition: box-shadow 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

  &::before {
    border-radius: var(--radius-half);
  }

  &.green {
    background-color: var(--green-dark);
  }

  &.red {
    background-color: var(--red-dark);
  }

  &.dark {
    background-color: var(--gray-dark);
  }

  &.gray {
    background-color: var(--gray);
  }

  &.blue {
    background-color: var(--blue-dark);
  }
}

.clickable.pressDown {
  &.material.material {
    box-shadow: var(--shadow2);
  }

  &.floating-action-button.floating-action-button {
    box-shadow: var(--shadow2);
  }

  & .wrapper {
    transform: translateY(1px);
  }
}

.disabled {
  cursor: not-allowed !important;

  &::before {
    z-index: var(--zIndex1);
    background-color: var(--gray);
  }
}

.ghost {
  color: var(--gray-dark);
  border: 1px solid transparent;
  transition: var(--background-transition), var(--color-transition);

  &.clickable:not(.disabled) {
    &:hover {
      color: var(--white);

      & i {
        color: var(--white);
      }

      &.green {
        background-color: var(--green);
      }

      &.red {
        background-color: var(--red);
      }

      &.dark {
        background-color: var(--gray-dark);
      }

      &.gray {
        background-color: var(--gray);
      }

      &.blue {
        background-color: var(--blue);
      }
    }
  }

  &.green {
    color: var(--green-dark);
  }

  &.red {
    color: var(--red-dark);
  }

  &.dark {
    color: var(--gray-dark);
  }

  &.gray {
    color: var(--gray);
  }

  &.blue {
    color: var(--blue-dark);
  }
}

.label {
  & i:first-child {
    margin-right: 5px;
  }
}
