
@import "../../lib/shared/styles/color.css";

:root {
  --triangleHeight: 5px;
}

.fixed_loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dragger {
  width: 20px !important;
  height: 20px !important;
  border: none !important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
}

.tipsoClass {
  padding: 10px;
}

.customIcon {
  position: absolute;
  right: 10px;
  top: 5px;

  & i {
    font-size: 14px;
    margin-right: 0 !important;
  }
}

.lineItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

.lineText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.selector {
  background-color: transparent !important;
  color: #22B98F !important;
  fill: #22B98F !important;
  box-shadow: none !important;
  transition: background-color 0.2s !important;

  & polygon {
    fill: #22B98F !important;
  }

  & svg {
    fill: #22B98F !important;
  }

  &:hover {
    background-color: #DEF5EE !important;
  }
}

.selected {
  font-size: 36px;
}

.option {
  cursor: pointer;
  padding: 7px 0;
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    background-color: #DEF5EE !important;
  }
}

.menu {
  padding: 10px;
  width: 150px;
  text-align: left;
  color: #000;

  &.active {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.menu-dark {
  color: #fff;

  &.active {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.menuPanel {
  top: 130% !important;
}

.dropdownButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menuPanel-2 {
  top: 130% !important;
  left: inherit !important;
  right: -1px;
}


.menuPanel-2-dark {
  composes: menuPanel-2;
  background-color: var(--gray-dark-deep) !important;

  &::after {
    border-bottom: var(--triangleHeight) solid var(--gray-dark-deep) !important;
  }

  &::before {
    border-bottom: var(--triangleHeight) solid transparent !important;
  }
}

.button {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}