@import "../../../shared/styles/shadow.css";
@import '../../../shared/styles/color.css';
@import '../../../shared/styles/border.css';

.cardsContainer {
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-light);

  &:last-child {
    border-bottom: 1px solid transparent;
    margin: 10px 0;
  }
}

.cardsContainerWrapper {
  flex-direction: column;
  margin: 10px 0;

  &.material {
    border-radius: var(--radius-small);
  }
}

.cardsChild {
  display: flex;
  margin: 0;
  background-color: transparent;

  &:last-child {
    margin: 0;
  }
}

.material {
  border-bottom: 1px solid transparent;
  box-shadow: var(--shadow3);
}

.card {
  &:not(:last-child) {
    border-right: 1px solid var(--gray-light);
  }
}
