
@import "../../../shared/styles/color.css";
@import "../../../shared/styles/z-index.css";

.buttonContainer {
  pointer-events: auto;
  display: inline-flex;

  &:hover {
    & .buttonContent {
      transform: translate(-1px, 1px);
    }
  }

  &:active {
    & .buttonContent {
      transform: translate(4px, 4px);
    }
  }
}

.buttonWrapper {
  display: inline-flex;
  position: relative;

  &::after {
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    transform: translate(4px, 4px);
    border-radius: 1px;
    transition: background-color 0.15s;
  }
}

.buttonWrapper.wrapper_light {
  & .buttonContent {
    color: var(--black);
    background-color: var(--white);
  }

  &::after {
    opacity: 0.3;
    background-color: var(--gray);
  }
}

.buttonWrapper.wrapper_dark {
  & .buttonContent {
    color: var(--white);
    background-color: var(--gray-dark-deep);
  }

  &::after {
    opacity: 0.9;
    background-color: var(--gray);
  }
}

.buttonWrapper.wrapper_green {
  & .buttonContent {
    color: var(--white);
    background-color: var(--green-dark);
  }

  &::after {
    opacity: 0.5;
    background-color: var(--green);
  }
}

.buttonContent {
  padding: 10px 15px;
  font-size: 1rem;
  transform: translate(-4px, -4px);
  cursor: pointer;
  border-radius: 1px;
  transition: transform 0.15s;
  user-select: none;
  z-index: var(--zIndex1);
}
