@import "../../../shared/styles/z-index.css";
@import "../../../shared/styles/border.css";

.message_modal_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: var(--radius);
  padding: 23px 30px;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  z-index: var(--zIndex999);

  &.active {
    opacity: 1;
  }
}
