@import "../../../shared/styles/shadow.css";
@import "../../../shared/styles/z-index.css";
@import "../../../shared/styles/color.css";
@import "../../../shared/styles/border.css";

:root {
  --switcher: 32px;
  --switcher-small: 26px;
  --switcher-mini: 22px;
}

.switcher-container {
  width: 52px;
  height: var(--switcher);
  display: inline-block;
  border-radius: var(--switcher);
  position: relative;
  cursor: pointer;
  border: 1px solid var(--gray);
  transition: background-color 0.2s;
  background-color: var(--white);
  margin: 15px 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.container-checked {
  border: 1px solid transparent;

  &.green {
    background-color: var(--green-dark);
  }

  &.blue {
    background-color: var(--blue-dark);
  }

  &.gray {
    background-color: var(--gray-dark);
  }

  & .switcher-item {
    right: 0 !important;
  }
}

.container-disabled {
  cursor: not-allowed !important;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--radius-small);
    z-index: var(--zIndex1);
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.container-small {
  width: 42px;
  height: var(--switcher-small);
  border-radius: var(--switcher-small);

  & .switcher-item {
    width: var(--switcher-small);
    height: var(--switcher-small);
    right: calc(100% - var(--switcher-small));
  }
}

.container-mini {
  width: 35px;
  height: var(--switcher-mini);
  border-radius: var(--switcher-mini);

  & .switcher-item {
    width: var(--switcher-mini);
    height: var(--switcher-mini);
    right: calc(100% - var(--switcher-mini));
  }
}

.switcher-item {
  width: var(--switcher);
  height: var(--switcher);
  border-radius: var(--switcher);
  background-color: var(--white);
  box-shadow: var(--shadow2);
  box-shadow: 0 1px 3px rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  right: calc(100% - var(--switcher));
  transition: right 0.2s;
}
