@import 'open-color/open-color.css';
@import '../../../shared/styles/base.css';

.tipso-wrapper {
  position: relative;
  display: inline-block;
  composes: baseText;

  &:first-child {
    margin-left: 0 !important;
  }

  &:last-child {
    margin-right: 0 !important;
  }
}

.tipso-container {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: var(--shadow4);
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  line-height: 1em;
  min-width: 100px;
  font-size: 12px;
  z-index: var(--zIndexHidden);
  composes: baseSubText;

  &.active {
    visibility: visible;
    z-index: var(--zIndex99);
  }

  &::before,
  &::after {
    width: 0;
    height: 0;
    left: 50%;
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-50%);
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

  &::after {
    z-index: var(--zIndex1);
  }

  &::before {
    z-index: var(--zIndexHidden);
  }
}

.top {
  bottom: 100%;
  transform: translate(-50%, -3px);

  &::after {
    bottom: -10px;
  }

  &::before {
    bottom: -11px;
  }

  &.dark {
    &::after {
      border-top: 10px solid var(--oc-gray-9);
    }

    &::before {
      border-top: 10px solid rgba(212, 212, 212, 1);
    }
  }

  &.light {
    &::after {
      border-top: 10px solid var(--oc-white);
    }

    &::before {
      border-top: 10px solid rgba(212, 212, 212, 0.3);
    }
  }
}

.bottom {
  top: 100%;
  transform: translate(-50%, 3px);

  &::after {
    top: -10px;
  }

  &::before {
    top: -11px;
  }

  &.dark {
    &::after {
      border-bottom: 10px solid var(--oc-gray-9);
    }

    &::before {
      border-bottom: 10px solid rgba(212, 212, 212, 1);
    }
  }

  &.light {
    &::after {
      border-bottom: 10px solid var(--oc-white);
    }

    &::before {
      border-bottom: 10px solid rgba(212, 212, 212, 0.3);
    }
  }
}

.dark {
  color: var(--oc-white);
  background-color: var(--oc-gray-9);
}

.light {
  background-color: var(--oc-white);
}
