@import "../../../shared/styles/color.css";

:root {
  --borderRadius: 20px;
  --height: 25px;
}

.label {
  display: inline-block;
  padding: 0 10px;
  border-radius: var(--borderRadius);
  margin: 7px;
  font-size: 12px;
  height: var(--height);
  line-height: var(--height);
  user-select: none;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.deleteable:hover {
    & .label-delete {
      left: 5px;
    }

    & .label-content {
      transform: translateX(15px);
    }
  }

  &.disabled {
    background-color: var(--gray-light-deep);
    color: var(--gray-dark-deep);
    cursor: not-allowed;
    user-select: none;
  }
}

.label-wrapper {
  position: relative;
  overflow: hidden;
  min-width: var(--height);
  height: calc(var(--height) - 2px);
  line-height: calc(var(--height) - 2px);
}

.flat {
  &.dark {
    border: 1px solid var(--gray-dark-deep);
    color: var(--gray-dark-deep);
  }

  &.light {
    border: 1px solid var(--white);
    color: var(--white);
  }

  &.darkLight {
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);
  }
}

.material {
  &.dark {
    border: 1px solid var(--gray-dark-deep);
    background-color: var(--gray-dark-deep);
    color: var(--white);
  }

  &.light {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--gray-dark-deep);
  }

  &.darkLight {
    border: 1px solid var(--gray-dark);
    background-color: var(--gray-dark);
    color: var(--white);
  }
}

.label-delete {
  cursor: pointer;
  color: var(--red);
  position: absolute;
  display: inline-block;
  top: 50%;
  left: -10px;
  transform: translateY(-55%);
  font-size: 14px;
  transition: left 0.2s;
}

.label-content {
  cursor: default;
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.2s;
  width: 100%;
  text-align: center;

  &.clickable {
    cursor: pointer;
  }
}
