@import "../../../shared/styles/color.css";

:root {
  --borderRadius: 20px;
  --height: 25px;
  --heightMin: 20px;
}

.label {
  display: inline-block;
  padding: 0 10px;
  border-radius: var(--borderRadius);
  margin: 0 5px;
  font-size: 12px;
  height: var(--height);
  line-height: var(--height);
  user-select: none;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.deleteable:hover {
    & .labelDelete {
      left: 5px;
    }

    & .labelContent {
      transform: translateX(15px);
    }
  }

  &.disabled {
    background-color: var(--gray-light-deep);
    color: var(--gray-dark-deep);
    cursor: not-allowed;
    user-select: none;
  }

  &.min {
    height: var(--heightMin);
    line-height: var(--heightMin);
    padding: 0 7px;

    & .labelWrapper {
      min-width: var(--heightMin);
      height: var(--heightMin);
      line-height: var(--heightMin);
    }
  }
}

.labelWrapper {
  position: relative;
  overflow: hidden;
  min-width: var(--height);
  height: var(--height);
  line-height: var(--height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flat {
  &.dark {
    border: 1px solid var(--gray-dark-deep);
    color: var(--gray-dark-deep);
    background-color: transparent;
  }

  &.light {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
  }

  &.darkLight {
    border: 1px solid var(--gray-dark);
    color: var(--gray-dark);
    background-color: transparent;
  }
}

.material {
  &.dark {
    border: 1px solid var(--gray-dark-deep);
    background-color: var(--gray-dark-deep);
    color: var(--white);
  }

  &.light {
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--gray-dark-deep);
  }

  &.darkLight {
    border: 1px solid var(--gray-dark);
    background-color: var(--gray-dark);
    color: var(--white);
  }
}

.labelDelete {
  cursor: pointer;
  color: var(--red);
  position: absolute;
  display: inline-block;
  top: 50%;
  left: -10px;
  transform: translateY(-55%);
  font-size: 14px;
  transition: left 0.2s;
}

.labelContent {
  cursor: default;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: transform 0.2s;
  width: 100%;
  text-align: center;

  &.clickable {
    cursor: pointer;
  }
}

.labelText {
  &.withIcon {
    margin-left: 5px;
  }
}
